<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" id="navbarNav">
        <!-- Dynamic login/logout link will be added here -->
      </ul>
    </div>
  </div>
</nav>

<div id="map" style="height: 400px;"></div>
<div id="details"></div>
<button id="reportButton" style="display: none;">Báo cáo vi phạm</button>
<div id="reportForm" style="display: none;">
  <div id="reportForm">
    <h3>Form Báo Cáo</h3>
    <form id="report">
      <label for="reportType">Hình thức báo cáo:</label>
      <select id="reportType" name="reportType">
        <option value="ToGiacSaiPham">Tố giác sai phạm</option>
        <option value="DangKyNoiDung">Đăng ký nội dung</option>
        <option value="DongGopYKien">Đóng góp ý kiến</option>
        <option value="GiaiDapThacMac">Giải đáp thắc mắc</option>
      </select><br>

      <label for="reporterName">Họ tên người báo cáo:</label>
      <input type="text" id="reporterName" name="reporterName" required><br>

      <label for="reporterEmail">Email:</label>
      <input type="email" id="reporterEmail" name="reporterEmail" required><br>

      <label for="reporterPhone">Điện thoại liên lạc:</label>
      <input type="tel" id="reporterPhone" name="reporterPhone" required><br>

      <label for="reportContent">Nội dung báo cáo:</label>
      <textarea id="reportContent" name="reportContent" required></textarea><br>

      <label for="reportImage">Hình ảnh minh hoạ (tối đa 2 hình):</label>
      <input type="file" id="reportImage" name="reportImage" accept="image/*" multiple><br>

      <div id="captcha"> <!-- Thêm cơ chế captcha tại đây --></div>

      <button type="submit">Gửi Báo Cáo</button>
    </form>
  </div>

</div>

<script type="module" src="/navbar.js"></script>
<script type="module" src="/mapDisplay.js"></script>

