<link rel="stylesheet" href="/report.css">
<link rel="stylesheet" href="/adsCheck.css">


<div id="map" style="height: 400px;"></div>
<div id="details"></div>
<div id="bbForm"></div>
<div id="createEditForm" style="display: none;">
</div>
<div id="buttonContainer" class="d-flex">
    <button id="reportButton" class="btn btn-danger" style="display: none;">Báo cáo vi phạm</button>
    <button id="createBBButton" class="btn btn-primary" style="display: none;">Tạo bảng Quảng cáo</button>
    <button id="adsCheckButton" class="btn btn-primary" style="display: none;">Tạo Điểm Quảng cáo</button>
</div>

<div id="reportForm" style="display: none;">
  <h3>Form Báo Cáo</h3>
  <form id="report">
    <label for="reportType">Hình thức báo cáo:</label>
    <select id="reportType" name="reportType">
      <option value="Tố giác sai phạm">Tố giác sai phạm</option>
      <option value="Đăng ký nội dung">Đăng ký nội dung</option>
      <option value="Đóng góp ý kiến">Đóng góp ý kiến</option>
      <option value="Giải đáp thắc mắc">Giải đáp thắc mắc</option>
    </select><br>

    <label for="reporterName">Họ tên người báo cáo:</label>
    <input type="text" id="reporterName" name="reporterName" required><br>

    <label for="reporterEmail">Email:</label>
    <input type="email" id="reporterEmail" name="reporterEmail" required><br>

    <label for="reporterPhone">Điện thoại liên lạc:</label>
    <input type="tel" id="reporterPhone" name="reporterPhone" required><br>

    <label for="reportContent">Nội dung báo cáo:</label>
    <textarea id="reportContent" name="reportContent" required></textarea><br>

    {{!-- <label for="reportImage">Hình ảnh minh hoạ (tối đa 2 hình):</label>
    <input type="file" id="reportImage" name="reportImage" accept="image/*" multiple><br> --}}

    <div class="captcha">
      <div class="g-recaptcha" data-sitekey="6LfLKFIpAAAAAIi8IqqAuNSmUNYoUKABA9n8jpoB"></div>
    </div>

    <button type="submit">Gửi Báo Cáo</button>
  </form>

</div>


<script type="module" src="/adsCheck.js"></script>
<script type="module" src="/bbCheck.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="module" src="/mapDisplay.js"></script>
