<link rel="stylesheet" href="/marker.css">
<div id="content-container">
    <div id="user-details"></div>
    <div id="pagination" class="horizontal-pagination">
        <button id="prev-page">Previous Page</button>
        <div class="page-numbers"></div>
        <button id="next-page">Next Page</button>
    </div>
</div>

<script type="module" src="/manageBillboard.js"></script>