<link rel="stylesheet" href="/reportDisplay.css">

<div id="content-container">
  <div id="user-details"></div>
  <div class="edit-form" style="display: none;">
    <h3>Edit Form</h3>
    <label for="edit-report-type">Report Type:</label>
    <select id="edit-report-type" name="edit-report-type">
      <option value="Tố giác sai phạm">Tố giác sai phạm</option>
      <option value="Đăng ký nội dung">Đăng ký nội dung</option>
      <option value="Đóng góp ý kiến">Đóng góp ý kiến</option>
      <option value="Giải đáp thắc mắc">Giải đáp thắc mắc</option>
    </select>

    <label for="edit-report-content">Report Content:</label>
    <textarea id="edit-report-content"></textarea>
    <label for="reportProccessed">Status: </label>
    <select name="rpPrc" id="reportProccessed">
      <option value="Chưa xử lý">Chưa xử lý</option>
      <option value="Đang xử lý">Đang xử lý</option>
      <option value="Đã xử lý">Đã xử lý</option>
    </select>

    <button class="save-edit">Lưu</button>
  </div>
  <div id="pagination" class="horizontal-pagination">
    <button id="prev-page">Previous Page</button>
    <div class="page-numbers"></div>
    <button id="next-page">Next Page</button>
  </div>

</div>


<script type="module" src="/reportDisplay.js"></script>