<h1>User Information</h1>
<div id="user-details"></div>
<div id="additional-actions"></div>
<div id="form-container"></div>
<div id="cbp"></div>
<div id="cbq"></div>
<div id="guests"></div>
<div id="pagination-controls-cbp"></div>
<div id="pagination-controls-cbq"></div>
<div id="pagination-controls-guests"></div>
 <div class="edit-form" style="display: none;">
    <h3>Edit Form</h3>
    <label for="role">Role:</label>
    <select id="role" name="role">
      <option value="Người Dân">Người Dân</option>
      <option value="Cán bộ Phường">Cán bộ Phường</option>
      <option value="Cán bộ Quận">Cán bộ Quận</option>
      <option value="Cán bộ Sở">Cán bộ Sở</option>
    </select>

    <label for="full_name">Full Name</label>
    <input type="text" id="full_name">
    <label for="phone">Phone Number</label>
    <input type="text" id="phone">
    <label for="dob">Birthday</label>
    <input type="date" id="dob">

    <button class="save-edit">Lưu</button>

<script type="module" src="/userScript.js"></script>
